.github-pro-assignee-count {
    padding: 10px 0 15px 0;
    margin-bottom: -5px;
    overflow-x: overlay;
    overflow-y: hidden;
    white-space: nowrap;
}

.github-pro-assignee-count a.subnav-item {
    float: none;
}